<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.thoughtworks.ketsu.infrastructure.mybatis.mappers.RefundMapper">

    <select id="findRefund" resultMap="records.refund">
        SELECT *
        FROM refunds
        WHERE roid = #{roid}
    </select>

</mapper>
